@font-face {
    font-family: 'DejaVu Serif';
    src: url('DejaVuSerif.woff2') format('woff2'),
        url('DejaVuSerif.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

